@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #1b1b1b;
	font-family: 'Open Sans', sans-serif;
}

.title{
	text-align: center;
	color: #fff;
}

.form {
	padding: 30px 40px;
	margin-left: 20%;
	margin-right: 20%;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
	color: #ccc;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 5px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 100%;
	transition: all 1s ease-in-out;
}

.form button:hover{
	background-color: #63AC43;
	border-radius: 20px;
	color: #000;
}


@media (max-width: 1000px){
	.form{
		margin-right: 10%;
		margin-left: 10%;
	}
}







