/*estilo para celulares=====================*/


/*Estilo para tablets========================*/



/*Estilo para impressoras=====================*/


.invelope{
    
    margin: auto;
    width: 1100px;
    height: auto;
    
   
}
.imgAnimada{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}


body{
    
    width:  100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-image: url(../../img/EwertonIMG/guitarra.jpg);
    
}
.hdaEstilo{
    font-family: 'Syne Mono'; 
    color: rgb(255, 255, 255); 
    font-size: 20px;   
    z-index: 4;
    position: fixed;
    left: 86%;
    top: 12px;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 5px;
    transition: all 0.8s ;
}
.hdaEstilo:hover{
    color: rgba(255, 255, 0, 0.589);
    box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.692);

}
.invelopeAlbuns{
    width: 100%;
    height: auto;

}

.tituloTopo{
    width: 100%;
    font-size: 40px;
    font-family: 'Syne Mono';
    background: rgba(115, 115, 241, 0.541);
    -webkit-filter: drop-shadow(0px 0px 5px black);
    filter: drop-shadow(0px 0px 5px black);
    letter-spacing: 3px;
    height: auto;
    color: rgb(0, 0, 0);
    padding: 0px;
    position: fixed;
    z-index:1;/*para sobrepor o titulo do resto da pagina*/
}
.iframeTopo{
    width: 100%;
    position: fixed;
    height: 50px;
    

}
.imgTopo{
    float: left;
    margin :5px;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
   

}

hr{
    float: right;
    width: 50%;
     
    margin-right: 3px;
    background-color: black;
    
}

  
.Albuns{
    float: left;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 0px 5px rgb(124, 124, 124);
    margin :5px;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;

}
.playlistAlbuns{
    margin: 45px;
    box-shadow: 1px 1px 5px rgb(88, 88, 88);
    

}
.playlistAlbuns:hover{

    -webkit-filter: brightness(100%);
    filter: brightness(110%);
}