/*estilo para celulares=====================*/


/*Estilo para tablets========================*/



/*Estilo para impressoras=====================*/


.invelope{
    
    margin: auto;
    width: 1100px;
    height: auto;
    
   
}
@media (min-width: 360px) and (max-width: 700px){
    div.invelope{
        width: 700px;
        margin: auto;
    }
}
.imgAnimada{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}


body{
    
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-image: url(../../img/EwertonIMG/guitarra.jpg);
    
}
@media (min-width: 360px) and (max-width: 700px){

    body{
        width: 700px;
        margin: auto;
       background-image: url("../../img/EwertonIMG/img750px.jpg");
       
        background-color: rgb(75, 28, 28);
        background-attachment: fixed;
        background-size: cover;
		background-repeat: no-repeat;
        
    }
}
.hdaEstilo{
    font-family: 'Syne Mono'; 
    color: rgb(255, 255, 255); 
    font-size: 20px;   
    z-index: 1;
    position: fixed; 
    background: rgb(121, 26, 26);
    padding: 5px;
    transition: all 0.8s ;
    width:100%;
}
.invelopeAlbuns{
    width: 100%;
    height: auto;

}

.tituloTopo{
    margin-top: 28px;
    width: 100%;
    font-size: 40px;
    font-family: 'Syne Mono';
    background: rgb(121, 26, 26);
    letter-spacing: 3px;
    height: auto;
    color: rgb(0, 0, 0);
    padding: 0px;
    position: fixed;
    z-index:1;/*para sobrepor o titulo do resto da pagina*/
}
.iframeTopo{
    width: 100%;
    position: fixed;
    height: 50px;
    

}
.imgTopo{
    float: left;
    margin :5px;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
   

}

hr{
    float: right;
    width: 50%;
     
    margin-right: 3px;
    background-color: black;
    
}

  
.Albuns{
    float: left;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 0px 5px rgb(124, 124, 124);
    margin :5px;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;

}
.playlistAlbuns{
    margin: 45px;
    box-shadow: 1px 1px 5px rgb(88, 88, 88);
    

}
.playlistAlbuns:hover{

    -webkit-filter: brightness(100%);
    filter: brightness(110%);
}