/*estilo para celulares=====================*/


/*Estilo para tablets========================*/



/*Estilo para impressoras=====================*/




.historia{
    margin-top: 50px;
    height: auto;
    width: 740px;
    background-size:cover ;
    background: rgb(227, 227, 243);
    border-top: 2px solid rgba(189, 189, 189, 0.671);
    text-align: justify;
    letter-spacing: 1px;
    box-shadow: 0px 0px 5px rgb(124, 124, 124);
    margin-bottom:10px;
    float: left;
    

}
.titulisOfi{
    font-size: 30px;
    border-bottom: 1px solid white;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    font-family: 'Syne Mono', monospace;
    background-color: rgba(71, 71, 71, 0.123);
}
/*
.secao:nth-child(1){
    background-image: url(../../img/EwertonIMG/img9.jpg);
    width: 1100px;
    background-size:cover ;
}
.secao:nth-child(2){
    background-image: url(../../img/EwertonIMG/img8.jpg);
    background-size:cover ;
    width: 1100px;
}
.secao:nth-child(3){
    background-image: url(../../img/EwertonIMG/img4.jpg);
    background-size:cover ;
    width: 1100px;
}
.secao:nth-child(4){
    background-image: url(../../img/EwertonIMG/img7.jpg);
    background-size:cover ;
    width: 1100px;
    
}*/
section#Secao1{
    /*Gospel Collection*/
    background-image: url(../../img/EwertonIMG/img6.jpg);
    width: 100%;
    margin-top: 50px;
}
section#Secao2{
    /*Historias e Bicicletas*/
    background-image: url(../../img/EwertonIMG/img5.jpg);
    width: 100%;
}
section#Secao3{
    /*Dvd Acustico*/
    background-image: url(../../img/EwertonIMG/guitarra.jpg);
    width: 100%;
}
section#Secao4{
    background-image: url(../../img/EwertonIMG/img8.jpg);
    width: 100%;
}
section#Secao5{
    background-image: url(../../img/EwertonIMG/capaTopoOficinaG3.jpg);
    width: 100%;
}

.secao{
    background: rgb(227, 227, 243);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    /*border-top: 2px solid rgba(189, 189, 189, 0.671);*/
    text-align: justify;
    box-shadow: 0px 0px 5px rgb(124, 124, 124);
    
    

}
section p {

    padding: 10px;
    

}
.produtosAlb{
    float: left;
    width: 740px;
    height: auto;
    background-color: rgb(201, 201, 248);
    margin-bottom: 5px;
    border-top: 3px solid rgb(143, 136, 238);
}


.prod h4{
    padding: 5px;
    text-align: center;
  
    font-size: 25px;
    color: rgb(255, 255, 255);

}
.mtscd{
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    float: right;

}
.prod form{
    background-image: url(../../img/EwertonIMG/Nubank.png);
    /*background-attachment: fixed;*/
    top: 0px;
   
}
.prod{
    border-radius: 10px;
    background-color: rgb(168, 84, 247);
    width: 480px;
    float: right;
    margin: 4px 15px 4px 4px;
    font-family: 'Syne Mono';
    color: rgb(255, 255, 255);
   
}
input{
    outline: 0px;
    border-radius: 5px;
    border: 0px;
    padding: 3px;
    display: inline-block;
}
#btnProd{
    display: none;
    border: 1px solid blue;
    
}
.preco{
    background-color: rgba(0, 0, 0, 0.281);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;

}
.imgPrdot{
    max-width: 220px;
    max-height: 220px;
    width: auto;
    height: auto;
    margin: 10px 0px 10px 5px;
    border-radius: 5%;
    border: 3px solid black;
    transition: all 0.5s;
  
}
.imgPrdot:hover{
    -webkit-filter: brightness(50%);
    filter: brightness(50%);

}


#btnProd:checked~.imgPrdot{
    border: 3px solid rgb(255, 255, 255);
}

.marcaçãoInf{
    background: rgba(129, 129, 129, 0.534);
    margin-left: 40px;
    margin-right: 40px;
    padding: 4px;

}

table{
    font-family: 'Syne Mono', monospace;
    margin: auto;
    width: 650px;
    border: 1px solid black;
    border-collapse: collapse;

}
td, th{
    border: 1px solid black;
    padding: 2px;
}
caption{
    font-weight:bolder ;
    font-size: 20px;
    background-color: rgb(196, 196, 255);
    padding: 3px;
    border-top: 1px solid rgb(162, 162, 247);
}
thead{
    background-color: rgb(161, 161, 255);   
    color: white;
}
tbody>tr:nth-child(odd){
    background-color: rgb(192, 192, 241);
    color: rgb(71, 71, 71);
}
tbody>tr:nth-child(even){
    background-color: rgb(222, 222, 238);
    color: rgb(43, 43, 43);

}
