.textDark{

    font-family: 'Montserrat', sans-serif;
    background: #a4a4a5;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 1s;
    font-size: 15px;
}

#dark:checked~body .box{
    margin-top: 10px;
    width:  100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(../../img/EwertonIMG/TemaDarkimg.jpg);
}
.textDark:focus,.textDark:hover{
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    color: rgb(113, 209, 209);
}
#dark:checked~.box ul#menu2{
    background: rgb(82, 82, 82);
}
#dark:checked ~.box .temaDark{
    background-color: rgb(224, 224, 224);
    color:black
}
#dark:checked ~.box .temaDark:hover{
   
    color:rgb(185, 185, 185)
}
#dark:checked~.box body{
    background-color: black;
}
#dark:checked~.box .hdaEstilo{
    background-color: rgba(0, 0, 0, 0.671);
}
#dark{
    display: none;
    height: 0px;
}

#dark:checked ~.box{
    background: rgb(82, 82, 82);
    
    color: rgb(194, 194, 194);
    

}
#dark:checked ~.box .produtosAlb{
    background: rgb(20, 20, 20);
    border-top: 3px solid rgb(0, 0, 0);
    color: rgb(194, 194, 194);
    

}
#dark:checked ~.box .prod{
    background: rgb(82, 82, 82);
    
    color: rgb(194, 194, 194);
    

}
#dark:checked ~.box .tituloTopo{
    background: rgb(58, 58, 58);
    
    color: rgb(187, 187, 187);
    

}

#dark:checked ~.box .historia{
    background: rgb(20, 20, 20);
   

} 
#dark:checked ~.box .sectionDark{/*seção dos albuns*/
    background: rgb(20, 20, 20);
}

#dark:checked ~.box a:hover{
    
    background-color: rgb(150, 150, 150);


}
#dark:checked ~.box .barraLateral{
    color: rgb(26, 26, 26);
    background-color: rgb(150, 150, 150);
    
    font-weight: bolder;
}

#dark:checked~.box .meunAlbuns{
    background: rgb(58, 58, 58);
    
}

#dark:checked~.box caption{
    color: white;
    background-color: rgb(124, 124, 124);
    border-top: 1px solid black;

}
#dark:checked~.box thead{
    background-color: rgb(46, 46, 46);

}
#dark:checked~.box tbody>tr:nth-child(odd){
    background-color: rgb(81, 81, 82);
    color: rgb(216, 216, 216);
}
#dark:checked~.box tbody>tr:nth-child(even){
    background-color: rgb(158, 158, 158);
    color: rgb(71, 71, 71);

}
