body{
    width: 690px;
    margin: auto;
    background-color: rgb(187, 187, 255);
    font-family: cursive;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
aside{
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px gray;
    padding: 10px;
   
}

#button{
	width: 100px;
	height: auto;
	padding: 5px;
	font-size: 20px;
	border-radius: 10px;
    background-color: rgb(187, 187, 255);
    
}

legend{
    font-size: 20px;
    padding: 2px;

}
textarea{
    width: 260px;
    border-radius: 20px;
    padding: 10px;
    height: 100px;
    outline: 0px;   
}

* input{
    outline: 0px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 3px;
}
.inf{
    background-color: rgb(187, 187, 255);
    padding: 10px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 0px 5px black;
    
}